/* General styles */
body, html {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
  }
  
  /* Hero section */
  #hero {
    height: 100vh;
    background: url('images/HD-Binary-Code-Background-620x388.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(231, 87, 87);
    padding-top: 50px;
  }
  
  .profile-picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 20px;
  }
  
  /* Section styling */
  section {
    padding: 60px 0;
  }
  
  section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  /* About Section */
  #about p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #666;
  }
  
  /* Skills Section */
  #skills h4 {
    font-weight: bold;
    color: #333;
  }
  
  /* Work Experience Section */
  #experience .card {
    transition: transform 0.2s ease;
  }
  
  #experience .card:hover {
    transform: scale(1.05);
  }
  
  /* Projects Section */
  .card {
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  .re {
    color: #ffffff;
  }
  
  /* Contact Section */
  #contact .lead {
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Footer */
  footer {
    background-color: #222;
    color: #aaa;
    font-size: 0.9rem;
  }
  